/* 변수 설정 */
:root {
    /* 기본 색상 정의 */
    --color-black: #333333;
    --color-white: #FBFBFB;
    --color-navy: #292864;
    --color-bg-surface: #ffffff;
    --color-red: #CB222B;
    --color-error: #FF4040;
    --color-gray-5: #5C5C5C;
    --color-gray-4: #717171;
    --color-gray-3: #989898;
    --color-gray-2: #C2C2C2;
    --color-gray-1: #E2E2E2;

    
    /* 폰트 정의 */
    --font-family-base: "Noto Sans KR", sans-serif;

    --font-display-large: 5.6rem;
    --font-display-medium : 4.4rem;

    --font-headline-large: 3.2rem;
    --font-headline-medium: 2.8rem;
    --font-headline-small: 2.4rem;

    --font-title-large: 2.0rem;
    --font-title-medium: 1.8rem;
    --font-title-small: 1.6rem;

    --font-label-large: 1.6rem;
    --font-label-medium: 1.4rem;
    --font-label-small: 1.2rem;

    /* 폰트 굵기 */
    --font-weight-light: 200;
    --font-weight-demlight: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 800;

    /* 여백 */
    --container-max-width: 142rem;
    
}


/* 아이콘 설정 */
.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* 공통 css */

html { 
    font-size: 62.5%;
    background-color: var(--color-white);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family-base);
    background-color: var(--color-white);
    color: var(--color-black);
    line-height: 1.5;
}

#wrap {
    margin-left: auto;
    margin-right: auto;
    
}

/* header */

.sn-header-wrapper {
    width: 100%;
    border-bottom: 1px solid var(--color-gray-2);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-white);
}

.sn-header {
    max-width: var(--container-max-width);
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.logo-area img {
    height: 30px;
}
.sn-nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

.sn-nav a {
    text-decoration: none;
    font-size: var(--font-title-large);
    transition: color 0.2s;
    color: var(--color-black);
}
.sn-nav a:hover {
    color: var(--color-navy);
}

/* footer */

.sn-footer {
    margin-top: 300px;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 80px 0;
}
.footer-wrap {
    max-width: var(--container-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footer-info {
    padding: 15px 0 15px;
    border-top: 1px solid #ddd;
    margin: 15px 0 15px;
}

.footer-site {
    display: flex;
    justify-content: space-between;
}
.footer-texts {
    margin-bottom: 5px;
    display: flex;
}

.footer-texts>h4 {
    font-weight: var(--font-weight-regular);
    margin-right: 7px;
}

.footer-texts>p{
    margin-right: 50px;
    font-size: var(--font-label-medium);
    color: var(--color-white);
    font-weight: var(--font-weight-light);
}

.footer-logo {
    max-width: var(--container-max-width);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.footer-bottom-links {
    display: flex;
    gap: 15px;
    align-items: center;
}
.footer-bottom-links a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: var(--font-weight-demlight);
    font-size: var(--font-label-medium);
    transition: ease-in .1s;
}
.footer-bottom-links a:hover {
    font-weight: var(--font-weight-medium);
    transform: translateY(-2px);
}

.right-btn {
    display: flex;
}

.footer-family-site .family-site-button {
    width: 223px;
    height: 34px;
    border: 1px solid var(--color-gray-dark);
    border-radius: 10px;
    padding: 4px 10px;
    outline: none;
    font-size: var(--font-label-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    background: var(--color-white);
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-family-site .dropdown-arrow {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.footer-family-site .family-site-list {
    position: absolute;
    width: 223px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid var(--color-gray-dark);
    font-weight: var(--font-weight-medium);
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 10;
}

.footer-family-site.is-open .family-site-list {
    max-height: 200px;
    opacity: 1;
}

.footer-family-site .family-site-list li a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--font-label-medium);
}

.footer-family-site .family-site-list li a:hover {
    background: var(--color-light-gray);
}

.topBtn {
    position: fixed;
    width: 100px;
    height: 100px;
    right: 30px; 
    bottom: 30px; 
    z-index: 1000;
    padding: none;
}

#scrollToTopBtn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 12px; 
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
}

#scrollToTopBtn.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding: none;
}

#scrollToTopBtn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/* 회사소개,사업분야 상단 배너 */

.hero-section {
    position: relative;
    height: 168px;
    background: url('../img/about/about_banner.jpg') no-repeat center/cover;
}
.hero-section2 {
    position: relative;
    height: 168px;
    background: url('../img/business/business_banner.jpg') no-repeat center/cover;
}

.hero-overlay {
    width: var(--container-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding: 160px 0 50px;
}

.hero-text-box {
    width: var(--container-max-width);
    margin: 0 auto;
    color: var(--color-black);
}

.hero-main-title {
    text-align: left;
    font-size: var(--font-display-large);
    font-weight: 700;
    line-height: 1.4;
}


.hero-sub-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-bottom: 10px;
}

.hero-sub-nav ul li {
    position: relative;
    width: auto;
    white-space: nowrap;
}

.hero-sub-nav ul li a {
    text-decoration: none;
    font-size: var(--font-title-medium);
    color: var(--color-gray-4); 
    font-weight: 500;
    padding-bottom: 4px;
    display: inline-block;
    transition: color 0.3s;
}

.hero-sub-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-black);
    transition: width 0.3s ease; 
}

.hero-sub-nav ul li a:hover {
    color: var(--color-black);
}

.hero-sub-nav ul li a:hover::after {
    width: 100%; 
}

.hero-sub-nav ul li.active a {
    color: var(--color-black);
}

.hero-sub-nav ul li.active a::after {
    width: 100%; 
}

.page-title-box {
    display: flex;
    align-items: flex-end;
    gap: 50px; 
    margin-bottom: 70px;
}
.page-title-box-line {
    display: flex;
    align-items: flex-end;
    gap: 50px; 
    margin-bottom: 70px;
    padding-bottom: 35px;
    border-bottom: solid 1px var(--color-gray-3);
}

.page-main {
    flex-shrink: 0;
}

.page-small-title {
    font-size: var(--font-title-large);
    font-weight: var(--font-weight-medium);
    margin-bottom: 25px;
}



.title-desc {
    padding-left: 40px; 
    border-left: 1px solid var(--color-gray-2);
}

.title-desc p {
    font-size: var(--font-title-large);
    color: var(--color-gray-4);
    line-height: 1.6;
    word-break: keep-all;
}

.page-title {
    font-size: var(--font-display-medium);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    line-height: 5.3rem;
}

.page-subtitle {
    font-size: var(--font-title-large);
    color: var(--color-gray-5);
    font-weight: var(--font-weight-regular);
}

