@charset "euc-kr";
  
* { padding:0; margin:0; vertical-align:top; border:0; box-sizing:border-box; }
html,body { width:100%; height:100%;  }
html { overflow-y:scroll; }
body { font:400 13px/1 'Noto Sans KR','Roboto','sans-selif'; color:var(--color-black); background:var(--color-white); }
a { color:#444; text-decoration:none; }
h1,h2,h3,h4,h5,h6 { font-weight:400; font-size:14px; }
i,em,address { font-style:normal; }
ul { list-style:none; }
button { display:inline-block; cursor:pointer;}
.fixedclear:after { content:''; display:block; clear:both; } 
.blind { display:block; text-indent:-2000px; overflow:hidden; }
.hidden { display:none; }
table { border-collapse:collapse; }
th,td { vertical-align:middle; }

#wrap { width:100%; overflow:hidden; }

	#skip { z-index:4; position:absolute; top:0; left:0; width:100%; }
	#skip>li { font-size:0; }
	#skip>li>a { display:block; width:100%; padding:0; font-size:0; background:#f0f0f0; color:#000; text-align:center; }
	#skip>li>a:focus { padding:20px 0; font-size:20px; }


/* 변수 설정 */
:root {
    /* 기본 색상 정의 */
    --color-black: #333333;
    --color-white: #fafafa;
    --color-navy: #292864;
    --color-bg-surface: #ffffff;
    --color-red: #CB222B;
    --color-error: #FF4040;
    --color-gray-5: #5C5C5C;
    --color-gray-4: #717171;
    --color-gray-3: #989898;
    --color-gray-2: #C2C2C2;
    --color-gray-1: #E2E2E2;

    
    /* 폰트 정의 */
    --font-family-base: "Noto Sans KR", sans-serif;

    --font-display-large: 5.6rem;
    --font-display-medium : 4.4rem;

    --font-headline-large: 3.2rem;
    --font-headline-medium: 2.8rem;
    --font-headline-small: 2.4rem;

    --font-title-large: 2.0rem;
    --font-title-medium: 1.8rem;
    --font-title-small: 1.6rem;

    --font-label-large: 1.6rem;
    --font-label-medium: 1.4rem;
    --font-label-small: 1.2rem;

    /* 폰트 굵기 */
    --font-weight-light: 200;
    --font-weight-demlight: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 800;

    /* 여백 */
    --container-max-width: 142rem;
    
}


/* 아이콘 설정 */
.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}