/* =======================================
   메인페이지 스타일 (index.html)
   ======================================= */



.background {
    padding-top: 30px;
    background-image: url(../img/main_cta_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sn-main-content {
    max-width: var(--container-max-width);
    margin: 0 auto;
    
}
.quick-links-section {
    margin-top: 120px;
    
}
.key-segment {
    color: var(--color-gray-4);
    font-size: var(--font-title-small);
    margin-bottom: 5px;
}
.quick-links-section h2 {
    font-size: var(--font-headline-large);
    font-weight: var(--font-weight-bold);
    margin-bottom: 5px;
}
.guide-text {
    font-size: var(--font-title-medium);
    margin-bottom: 27px;
}
.link-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0 20px;
    padding: 50px 82px 140px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    padding: 25px 27px;
    border-radius: 25px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
}
.grid-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.icon-arrow {
    position: absolute;
    top: 17px;
    right: 17px;
    color: var(--color-white);
}
.icon-arrow-small {
    position: absolute;
    top: 11px;
    right: 17px;
    color: var(--color-white);
}
.icon-arrow i {
    font-size: 4.5rem;
}
.icon-arrow-small i {
    font-size: 4.5rem;
}

.icon-arrow-small.gray {
    color: var(--color-gray-5);
}
.icon-arrow.red {
    color: var(--color-red);
}
.icon-arrow.navy {
    color: var(--color-navy);
}

.item-title {
    font-size: var(--font-headline-large);
    font-weight: var(--font-weight-bold);
}

.item-title-small {
    font-size: var(--font-headline-medium);
    font-weight: var(--font-weight-regular);
}


.item-desc {
    font-size: 1.8rem;
    font-weight: var(--font-weight-regular);
    color: var(--color-gray-5);
}

.white-text {
    font-weight: var(--font-weight-regular);
    font-size: 1.8rem;
    color: var(--color-white);
}

.primary-dark {
    background-color: var(--color-navy);
    color: var(--color-white);
    grid-row: span 2;
    min-height: 250px;
    justify-content: flex-end;
}

.dark-text {
    font-weight: var(--font-weight-regular);
}

.red-text {
    color: var(--color-red);
}
.dark-blue-text {
    color: var(--color-navy);
}
.small-links {
    height: 331px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.white-card {
    background-color: var(--color-bg-surface);
    color: var(--color-black);
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03);
    height: 156px;
}

.wide-card {
    padding-top: 25px; 
    justify-content: flex-end; 
    align-items: flex-start;
}

.split-small-links {
    height: 156px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.smallest-card {
    flex-grow: 1;
    height: 70px;
    justify-content: center;
    align-items: flex-start;
}

.smallest-card .item-title {
    font-size: var(--font-headline-small);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
}


.contact-section {
    background-image: url('../img/main_backgroud.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100vw;
    margin-top: 100px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0 20px;
}

.contact-info-block {
    position: relative;
    max-width: var(--container-max-width);
    margin: 0 auto;
    
    z-index: 1;
}




.contact-section h2 { 
    font-size: var(--font-headline-large);
    font-weight: 700;
    margin-bottom: 10px;
}
.contact-info-block>p {
    font-size: var(--font-title-medium);
    margin-bottom: 30px;
}
.contact-details {
    width: 900px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-gray-2);
    background-color: white;
    margin: 20px auto;
}

.detail-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    
    margin: 0; 
    border: none;
    border-right: 1px solid #e0e0e0;
}
.detail-item:last-child {
    border-right: none;
}
.detail-title {
    text-align: center;
    display: block;
    font-size: var(--font-title-large);
    color: var(--color-black);
    padding: 30px 0 14px;

    position: relative; 
    margin-bottom: 15px;

}

.detail-title::after {
    content: "";
    border-bottom: 2px dotted var(--color-gray-2);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 1px;
}

.value {
    text-align: center;
    font-size: var(--font-title-large);
    font-weight: var(--font-weight-medium);
    margin: 16px 0;
}

.time {
    text-align: center;
    font-size: var(--font-label-medium);
    color: var(--color-gray-3);
    padding-bottom: 30px;

}

.question-banner-container {
    padding: 40px 0;
    text-align: center;
    margin-bottom: 30px;
}
.question-banner {
    display: block;
    padding: 0; 
    border-radius: 8px;
}
.question-banner p {
    font-size: 2.2rem;
    font-weight: var(--font-weight-medium);
    margin: 0;
}
.comment {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.comment>p  {
    text-align: right; 
    font-size: var(--font-title-medium);
    color: var(--color-black);
    line-height: 1.6;
}

