/* =======================================
    VOC 페이지 스타일 (voc_submit.html, voc_check.html)
    ======================================= */

.voc-container {
    max-width: var(--container-max-width);
    margin: 150px auto;
    padding: 0 82px;
}

.voc-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--color-gray-2);
}

.voc-title {
    font-size: var(--font-headline-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    margin-bottom: 15px;
    display: inline-block;
}

.voc-subtitle {
    font-size: var(--font-title-large);
    color: var(--color-black);
}


.voc-status-link {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.btn-status {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 190px;
    padding: 7px 15px;
    border: 1px solid var(--color-gray-4);
    border-radius: 8px;
    background-color: var(--color-white);
    
    font-size: var(--font-title-small);
    color: var(--color-black); 
    text-decoration: none;
    
    transition: background-color 0.1s, transform 0.1s;
}


.btn-status:hover {
    background-color: #ececec;
    transform: translateY(-2px);
}

.voc-status-link p {
    font-size: var(--font-label-small);
    color: var(--color-gray-4);
    line-height: 1.4;
    text-align: right;
    margin-top: 5px;
}
.voc-status-link p>b{
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}


.voc-status-link p {
    font-size: var(--font-label-small);
    color: var(--color-gray-4);
    line-height: 1.4;
}

.voc-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.voc-form input::placeholder,
.voc-form textarea::placeholder {
  color: var(--color-gray-5);
  font-size: var(--font-title-small);
  font-weight: var(--font-weight-regular);
  opacity: 1;
}

.voc-form input::-webkit-input-placeholder,
.voc-form textarea::-webkit-input-placeholder {
  color: var(--color-gray-5);
  font-size: var(--font-title-small);
  font-weight: var(--font-weight-regular);
}

.voc-form input:-moz-placeholder,
.voc-form textarea:-moz-placeholder {
  color: var(--color-gray-5);
  font-size: var(--font-title-small);
  font-weight: var(--font-weight-regular);
  opacity: 1;
}

.voc-form input::-moz-placeholder,
.voc-form textarea::-moz-placeholder {
  color: var(--color-gray-5);
  font-size: var(--font-title-small);
  font-weight: var(--font-weight-regular);
  opacity: 1;
}

.voc-form input:-ms-input-placeholder,
.voc-form textarea:-ms-input-placeholder {
  color: var(--color-gray-5);
  font-size: var(--font-title-small);
  font-weight: var(--font-weight-regular);
}

.form-group-inline {
    display: flex;
    gap: 20px;
}

.form-group-inline .form-item {
    flex-basis: 50%;
}


.form-item,
.form-group-single {
    display: flex;
    flex-direction: column;
}

.form-item label,
.form-group-single label {
    font-size: var(--font-title-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    margin-bottom: 15px;
}


.form-item.required label::after,
.form-group-single.required label::after {
    content: '*';
    color: var(--color-red);
    margin-left: 4px;
}

.voc-form input[type="text"],
.voc-form input[type="tel"],
.voc-form input[type="password"],
.voc-form input[type="email"],
.voc-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-gray-2);
    border-radius: 8px;
    font-size: var(--font-title-small);
    box-sizing: border-box;
    transition: border-color 0.2s;
    font-family: 'Noto Sans KR', Roboto, sans-serif;
}

.voc-form input:focus,
.voc-form textarea:focus {
    border-color: var(--color-navy);
    outline: none;
}

.voc-form textarea {
    resize: vertical;
    min-height: 180px;
}


.file-info {
    font-size: var(--font-title-small);
    color: var(--color-gray-4);
    display: flex;
    align-items: center;
}

.form-item input[type="file"] {
    display: none;
}

.form-group-inline.file-attachment {
    display: flex;
    align-items: center; 
    gap: 15px; 
    width: 60%;
}

.form-group-inline.file-attachment .form-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    flex-basis: auto; 
    flex-grow: 0; 
    flex-shrink: 0;
}


.attach-button {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 10px;
    width: 90px;
    border: 1px solid var(--color-gray-5); 
    background-color: var(--color-white); 
    color: var(--color-black); 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: var(--font-label-small); 
    text-align: center;
    transition: background-color 0.2s, border-color 0.2s; 
}

.attach-button:hover {
    background-color: var(--color-gray-1); 
    border-color: var(--color-gray-7); 
}

.form-item input[type="file"]:focus + .attach-button {
    outline: 2px solid var(--color-navy);
    outline-offset: 2px;
}

.input-half {
    width: 50% !important;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-submit {
    font-size: var(--font-title-small);
    padding: 7px 15px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s; 
}
.btn-submit:hover {
    background-color: var(--color-navy);
    transform: translateY(-2px); 
}

/* =================================================== */
/* 모달 (팝업창) 스타일 */
/* =================================================== */

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--color-white);
    padding: 30px 40px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-title {
    text-align: left;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--color-gray-2);
    font-size: var(--font-title-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    margin-bottom: 15px;
}

.modal-message {
    padding: 20px 0;
    font-size: var(--font-title-small);
    color: var(--color-black);
    margin-bottom: 10px;
    line-height: 1.5;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
}

.btn-modal-confirm {
    padding: 10px 20px;
    background-color: var(--color-navy);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    font-size: var(--font-title-small);
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-modal-confirm:hover {
    background-color: var(--color-black);
}